@{
    ViewBag.Title = "Nosotros";
}
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="about-flex">
                <div class="col-three-forth">
                    <h2>Nosotros TORNITEC</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Misión</h3>
                            <p>
                                Trabajando en equipo  con eficiencia productiva, honestidad y
                                ética profesional logrando así los mejores resultados para mantener
                                siempre nuestros principales valores que son  ser un mejor servidor de la sociedad.
                            </p>

                            <h3>Visión</h3>
                            <p>
                                Ser la mejor empresa proveedora de soluciones y servicio en fijación, soportería,
                                herramientas y tornillos para madera, concreto, metal, techos y cualquier superficie en México.
                            </p>
                            <h3>Compromiso de Calidad</h3>
                            <p>
                                Los empleados de la empresa estamos comprometidos con la mejora continua de la calidad en nuestros productos y servicios, para lograr la satisfacción de nuestros clientes.
                            </p>
                            <div class="row row-pb-sm">
                                <div class="col-md-6">
                                    <img src="~/Content/img/tornillo.jpeg" class="img-responsive" alt="imagen">
                                </div>
                                <div class="col-md-6">
                                    <h3>Valores</h3>
                                    <p>
                                        Calidad
                                    </p>
                                    <p>
                                        Responsabilidad
                                    </p>
                                    <p>
                                        Soliradidad
                                    </p>
                                    <p>
                                        Transparencia
                                    </p>
                                    <p>
                                        Constancia
                                    </p>
                                </div>
                            </div>

                            <h3>¿Que hacemos?</h3>
                            <p>
                                Fabricamos y comercializamos Tornillos de Alta Calidad Forjados en Caliente así como Pernos y Productos Especiales, Tornillo Grado 5 y 8, Métricos, Estructurales A325 y A490, Tornillo B7, Tornillos para Maquinaria Pesada, Tractocamiones, Minería y Petroquímica. Diámetros de 1/2″ a 3″.
                            </p>

                            <div class="col-md-6">
                                <h3>¿Nuestro Mercado e Industria?</h3>
                                <p>
                                    Industria Automotriz.
                                </p>
                                <p>
                                    Equipo y Maquinaria Pesada.
                                </p>
                                <p>
                                    Maquinaria Agrícola.
                                </p>
                                <p>
                                    Industria de la Construcción.
                                </p>
                                <p>
                                    Industria Petroquímica.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
